################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SisGUAPA/.vs
/SisGUAPA/SisGUAPA/obj
/SisGUAPA/SisGUAPA.Application/obj
/SisGUAPA/SisGUAPA.Domain/obj
/SisGUAPA/SisGUAPA.Infra/obj
/SisGUAPA/SisGUAPA.Infra.Data/obj
